:root {
  --bg-light: #fff;
  --bg-dark: #1b262c;
  --font-light: #1b262c;
  --font-dark: #bbe1fa;
  --accent: #0f4c75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px Helvetica, Arial;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-light);
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--accent);
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: var(--font-light);
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: var(--font-light);
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.messageForm {
  background: var(--accent);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dark--mode {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  font-size: 28px;
  cursor: pointer;
  color: var(--font-light);
}

.dark--mode-on .page,
.dark--mode-on .inputMessage {
  background-color: var(--bg-dark);
}
.dark--mode-on,
.dark--mode-on .dark--mode,
.dark--mode-on .log,
.dark--mode-on .inputMessage,
.dark--mode-on .message.typing .messageBody {
  color: var(--font-dark);
}

.dark--mode-on .usernameInput {
  color: #fff;
}
